/***************************************/
/* NAVIGATION BAR */
/***************************************/
.header-nav {
  background: linear-gradient(#007aff, #fff);
}

.nav {
  display: flex;
  padding: 1.6rem 5rem;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.nav__title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  animation: moveInRight 1s ease-out;
  letter-spacing: 0.5rem;
}

.nav__menu__list {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  list-style: none;
  letter-spacing: 0.1rem;
}

.nav__menu__link:link,
.nav__menu__link:visited {
  display: inline-block;
  text-decoration: none;
  animation: opaque 2s;
  color: #333;
  transition: all 0.3s;
}

.nav__menu__link:hover {
  text-shadow: 1rem 1rem 1rem;
  color: #333;
  transform: translate(-0.1rem, -0.1rem);
}

.nav__menu__link.btn:link,
.nav__menu__link.btn:visited {
  padding: 1rem 3.2rem;
  background-color: #007aff;
  color: #fff;
  border-radius: 2rem;
  border: 1px solid #0e62bf;
}

.nav__menu__link.btn:hover {
  text-shadow: 0 0 0;
  box-shadow: 0.2rem 0.5rem 2rem #444;
}

.nav__menu__link:active {
  transform: translate(0rem, 0rem);
  text-shadow: 0rem 0rem 1rem rgba(0, 123, 255, 0.644);
}

.nav__menu__link.btn:active {
  transform: translate(0rem, 0rem);
  box-shadow: 0.2rem 0.5rem 5rem 0.3rem rgba(0, 123, 255, 0.644);
  background-color: #0e62bf;
  color: #eee;
}

/***************************************/
/* HERO SECTION (IMAGE BOX SECTION) */
/***************************************/
.hero {
  align-items: center;
  margin: 4.8rem auto 9.6rem;
}

.hero__image-box {
  width: 100%;
  padding: 10rem;
  justify-content: center;
  display: flex;
}

.hero__img {
  padding-bottom: 100%;
  width: 80%;
  background-image: url(./img/NERI\,\ MARCO\ JESUS\ G\ \(NO\ BACKGROUND\).png);
  background-position: center;
  background-size: cover;
  border-radius: 69% 31% 25% 75% / 30% 8% 92% 70%;
  border: 1px solid #343a40;
  filter: drop-shadow(10rem 2rem 8rem #007bff);
  animation: scale 1s ease-in-out 1s;
  animation-fill-mode: backwards;
  transition: all 0.3s;
}

.hero__img:hover {
  transform: translate(1rem, 1rem);
  filter: drop-shadow(10rem 2rem 4rem #007bff);
}

/***************************************/
/* HERO SECTION (text BOX SECTION) */
/***************************************/

.hero__text-box {
  padding: 10rem;
  align-self: center;
}

.hero__text--title {
  text-shadow: 4rem 2rem 1.8rem #007aff;
  animation: opaque 2s;
  font-size: 5.2rem;
  font-weight: 900;
}

.hero__text--name {
  color: rgba(0, 123, 255, 0.6);
  font-size: 1.6rem;
  font-weight: 600;
  animation: moveInLeft 1s ease-out;
}

/***************************************/
/* TECH_StACKS SECTION */
/***************************************/

.section__tech-stacks {
  margin-top: 24rem;
}

.tech-stacks__text {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.6;
  letter-spacing: normal;
}

.tech-stacks__logo {
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
  margin-top: 2rem;
  filter: drop-shadow(2px 2px 2px);
}

/***************************************/
/* ABOUT ME SECTION */
/***************************************/
.aboutMe {
  padding: 9.6rem;
  margin: 4.8rem auto 9.6rem;
}

.about {
  padding: 5.2rem;
  text-align: justify;
  border: 1px solid rgba(119, 154, 188, 0.5);
  box-shadow: 0 0 1rem;
  border-radius: 2rem;
  color: #28242c;
  transition: all 0.3s ease-out;
}

.about:hover {
  box-shadow: 0rem 1rem 2rem rgba(0, 123, 255, 0.7);
  color: #007aff;
  filter: drop-shadow(0 0 1rem rgb(0, 123, 255));
  transform: translate(0rem, -1rem);
}

.about header {
  font-size: 3.6rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.about__paragraph--container {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}

.about__paragraph {
  padding: 5.2rem;
  color: rgba(40, 36, 44, 0.6);
}

/***************************************/
/* FOOTER SECTION */
/***************************************/

footer {
  background-color: #28242c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 4.8rem 0;
}

.footer-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
  border-top: 1px solid #495057;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dee2e6;
}

.footer__logo--brand {
  font-size: 1.4rem;
}

.footer__list {
  display: flex;
  gap: 1.6rem;
}

.footer__list--items {
  list-style: none;
}

.footer__icons {
  width: 2.4rem;
  height: 2.4rem;
}

.footer__icons--link:link,
.footer__icons--link:visited {
  color: #dee2e6;
  transition: all 0.3s;
  display: flex;
}

.footer__icons--link:hover,
.footer__icons--link:active {
  scale: 2;
  color: #007aff;
}

/* ************************************************************************************** */
/* ************************************************************************************** */
/* ************************************************************************************** */

/* COLORS

-------------- Blue color
#007AFF - lightest
#0E62BF - lighter
#0C4C93 - light

-------------- Gray color
#1a1d20
#28242c
#212529
#343a40
#495057
#dee2e6

*/
